<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>知识库</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>

<div class="site-wrapper">

    <div class="cover-container">

        <div class="masthead clearfix" style="padding-bottom: 38px;position: relative;">
            <div class="inner">
                <h3 class="masthead-brand">DMC KnowledgeBase</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Data Process</a></li>
                        <li><a href="#">System Maintenance</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <form action="/saveDataCaliber">
            <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon">需求编号</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" name="requirement_id">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">需求名称</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" name="requirement_name">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">提数人员</span>
                    <select class="form-control" name="worker_name">
                        <option>苟瑞</option>
                        <option>委中原</option>
                        <option>万友辰</option>
                        <option>彭雪阳</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">取数人员</span>
                    <input type="text" class="form-control" aria-describedby="basic-addon1" name="extractor_name">
                </div>

                <div class="input-group">
                    <span class="input-group-addon">部门名称</span>
                    <!--<input type="text" class="form-control" aria-describedby="basic-addon1">-->
                    <select class="form-control" name="department_name">
                        <option>风险管理部</option>
                        <option>个人业务部</option>
                        <option>会计结算部</option>
                    </select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">口径描述</span>
                    <textarea class="form-control" rows="5" name="comments"></textarea>
                </div>

                <div class="input-group" style="display: block;" id="sql-textarea">
                    <div style="" class="sql-header">SQL语句</div>
                    <textarea class="form-control sql-textarea" rows="20" name="sql"></textarea>
                </div>

                <!--<div class="input-group">-->
                <!--<span class="input-group-addon drop-area">将sql文件拖拽到此区域</span>-->
                <!--</div>-->

                <!--<ul class="list-group">
                    <li class="list-group-item">
                        <div class="input-group">
                            <div type="text" class="form-control" aria-describedby="basic-addon3">tableA, tableB</div>
                            <span class="input-group-addon" id="basic-addon3">=></span>
                            <div type="text" class="form-control" aria-describedby="basic-addon3">tableC, tableD</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <div type="text" class="form-control" aria-describedby="basic-addon3">tableA, tableB</div>
                            <span class="input-group-addon" id="basic-addon3">=></span>
                            <div type="text" class="form-control" aria-describedby="basic-addon3">tableC, tableD</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            <div type="text" class="form-control" aria-describedby="basic-addon3">tableA, tableB</div>
                            <span class="input-group-addon" id="basic-addon3">=></span>
                            <div type="text" class="form-control" aria-describedby="basic-addon3">tableC, tableD</div>
                        </div>
                    </li>
                </ul>-->

                <button type="button" class="btn btn-success">提交</button>
            </div>
        </form>

        <div class="mastfoot">
            <div class="inner">
                <p>Develop by GouRui@Data Management Center.</p>
            </div>
        </div>

    </div>

</div>

</body>
</html>