<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body>

<div class="site-wrapper">

    <div class="cover-container">

        <div class="masthead clearfix" style="padding-bottom: 38px;position: relative;">
            <div class="inner">
                <h3 class="masthead-brand">DMC KnowledgeBase</h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/requirements">Requirement Input</a></li>
                        <!--<li><a href="#">Data Process</a></li>-->
                        <li><a href="#">System Maintenance</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="form-group" style="padding: 275px 0px;">
            <div class="input-group" style="width: 100%;">
                <input type="text"
                       style="border-radius:18px; height:57px; padding-left:20px; padding-right:20px; font-size:19px;"
                       placeholder="" class="form-control"
                       id="query" autofocus>
            </div>
            <div class="input-group" id="search-result">
                <!--这里放置搜索结果-->
            </div>
        </div>

        <div th:replace="footer :: footer"></div>

        <script src="/js/home.js"></script>

    </div>

</div>

</body>
</html>